html {
    font-size: 10px;
    background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
    background-size: cover;
}
  
body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
.keys {
    display: flex;              /* Display all the .keys elements in a single flex container. */
    flex: 1;
    min-height: 100vh;
    align-items: center;        /* Center the flex items in the cross-axis. */ 
    justify-content: center;    /* Center the alignment of each of the flex items. */ 
}
  
.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}
  
.playing {
    transform: scale(1.1);      /* Animate the flex item when the class 'playing' is added to the classList. */
    border-color: #ffc600;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.6);
}
  
kbd {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 4rem;
}
  
.sound {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}